@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, a, img, input, ul, li, ol, dl, dt, dd {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

img {
  display: block;
  border: 0; }

input {
  outline: none; }

body {
  font-size: 12px;
  color: #666;
  font-family: "微软雅黑"; }

a {
  text-decoration: none;
  color: #909090; }

a:hover {
  text-decoration: underline; }

.w {
  width: 1100px;
  margin: 0 auto; }

.l {
  float: left; }

.r {
  float: right; }

@font-face {
  font-family: 'iconfont';
  src: url("../font/index/iconfont.eot");
  src: url("../font/index/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/index/iconfont.woff") format("woff"), url("../font/index/iconfont.ttf") format("truetype"), url("../font/index/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/*=====================header==================*/
#header {
  height: 29px;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5; }
  #header .w {
    height: 29px;
    line-height: 29px; }
    #header .w .l span {
      display: inline-block;
      width: 10px;
      height: 14px;
      background: url("../images/index_files/phone.jpg") no-repeat;
      margin-left: 5px;
      margin-top: 8px; }
    #header .w .l a {
      margin-left: 10px; }
      #header .w .l a:hover {
        color: #fa4b9b;
        text-decoration: none; }
    #header .w .r li a {
      padding-right: 12px; }
    #header .w .r li.log a {
      border-right: 1px solid #d7d7d7; }

/* =======================logo==================== */
#logo {
  height: 133px; }
  #logo .w {
    height: 100%; }
    #logo .w h1 {
      margin-top: 20px; }
    #logo .w .search {
      width: 475px;
      height: 34px;
      margin-left: 295px;
      margin-top: 50px; }
      #logo .w .search .l {
        width: 383px;
        height: 30px;
        border: 2px solid #fa4b9b; }
      #logo .w .search .r {
        width: 88px;
        height: 34px;
        font-weight: bold;
        border: 0;
        color: white;
        background: #fa4b9b; }
    #logo .w .car {
      width: 144px;
      height: 36px;
      margin-top: 50px;
      margin-right: 28px; }
      #logo .w .car .l {
        display: inline-block;
        font-size: 25px;
        width: 35px;
        text-align: center;
        color: white;
        background: #f450a2; }
      #logo .w .car .r {
        width: 109px;
        height: 32px;
        line-height: 34px;
        color: #4f4f4f;
        /* 				border:1px solid #e5e5e5;
				border-bottom:white;
				border-right:white;
				border-left:0; */
        background: #eee;
        text-indent: 30px; }
    #logo .w .car:hover .l {
      color: #f450a2;
      background: white;
      /* 				border:1px solid #f450a2; */
      border-bottom: white;
      border-right: white; }
    #logo .w .car:hover .r {
      text-decoration: none;
      /* 				border:1px solid #f450a2; */
      border-bottom: white;
      border-left: white;
      color: #f450a2; }

/* ====================nav====================== */
#nav {
  height: 46px;
  background: #ff3893;
  font-size: 14px; }
  #nav .w {
    height: 100%;
    line-height: 46px; }
    #nav .w li a {
      display: inline-block;
      color: white;
      font-size: 14px;
      padding: 0 30px; }
      #nav .w li a:hover {
        text-decoration: none;
        background: #ec0971; }
    #nav .w li.all {
      margin-top: -3px;
      position: relative;
      font-weight: bold; }
      #nav .w li.all:hover ul.sec-ul {
        display: block; }
      #nav .w li.all a {
        font-size: 16px; }
      #nav .w li.all ul.sec-ul {
        position: absolute;
        display: none; }
        #nav .w li.all ul.sec-ul li {
          width: 220px;
          height: 75px;
          background: #fff;
          border-bottom: 1px dotted #ccc;
          padding: 5px;
          position: relative; }
          #nav .w li.all ul.sec-ul li h4 {
            color: #ff3893;
            font-weight: bold;
            padding: 0 5px;
            line-height: 25px; }
          #nav .w li.all ul.sec-ul li p {
            line-height: 18px;
            margin: 0;
            background: white;
            color: #333; }
            #nav .w li.all ul.sec-ul li p a {
              font-size: 12px;
              display: inline;
              margin: 0;
              padding: 0;
              background: white;
              color: #333;
              font-weight: 100; }
              #nav .w li.all ul.sec-ul li p a:hover {
                color: #ff3893; }
          #nav .w li.all ul.sec-ul li div.thr {
            position: absolute;
            left: 230px;
            top: 0;
            display: none;
            border: 1px solid #ff3893; }
            #nav .w li.all ul.sec-ul li div.thr ul {
              overflow: hidden; }
              #nav .w li.all ul.sec-ul li div.thr ul li a {
                font-size: 12px;
                display: inline;
                line-height: 20px;
                margin: 0;
                padding: 0;
                background: white;
                color: #333;
                font-weight: 100; }
                #nav .w li.all ul.sec-ul li div.thr ul li a:hover {
                  color: #ff3893; }
        #nav .w li.all ul.sec-ul li:hover div.thr {
          display: block; }
    #nav .w li.all a {
      height: 52px;
      width: 170px;
      background: #ff3893; }
    #nav .w li.index {
      background: #ec0971; }
    #nav .w li.jiao {
      position: relative; }
      #nav .w li.jiao span {
        display: inline-block;
        width: 10px;
        height: 5px;
        background: url("../images/index_files/jiao.jpg");
        position: absolute;
        top: 20px;
        right: 10px; }

/* ===================smnav==================== */
#smnav {
  overflow: hidden;
  margin-top: 7px; }
  #smnav .w {
    line-height: 44px; }
    #smnav .w p a {
      color: #666; }
      #smnav .w p a:hover {
        color: #fa4b9b;
        text-decoration: none; }

/* ==================main=================== */
#main {
  overflow: hidden; }
  #main .w {
    overflow: hidden; }
    #main .w .l {
      width: 445px; }
      #main .w .l .up {
        width: 400px;
        height: 400px;
        border: 1px solid #eee;
        margin-top: 20px; }
        #main .w .l .up img {
          width: 400px; }
      #main .w .l .down {
        width: 400px;
        margin-top: 10px;
        overflow: hidden; }
        #main .w .l .down li {
          overflow: hidden;
          width: 74px;
          margin-right: 10px;
          position: relative; }
          #main .w .l .down li:hover > span {
            display: block; }
          #main .w .l .down li img {
            width: 72px;
            height: 72px;
            border: 1px solid #eee; }
          #main .w .l .down li span {
            width: 72px;
            height: 72px;
            /* border:1px solid #f450a2; */
            position: absolute;
            top: 0;
            left: 0;
            display: none; }
    #main .w .r {
      width: 610px;
      margin-top: 25px; }
      #main .w .r p:nth-of-type(1) {
        font-size: 18px;
        color: #222; }
        #main .w .r p:nth-of-type(1) span {
          color: #ff7293;
          line-height: 35px; }
      #main .w .r p:nth-of-type(2) {
        font-size: 14px;
        color: #666; }
        #main .w .r p:nth-of-type(2) span {
          color: #ff7293;
          line-height: 20px; }
      #main .w .r p:nth-of-type(3) {
        font-size: 16px;
        color: #666;
        line-height: 20px;
        background: #fff9fd;
        padding: 5px 0;
        margin-top: 15px; }
        #main .w .r p:nth-of-type(3) span:nth-of-type(1) {
          color: #f43499;
          font-size: 18px;
          font-weight: bold; }
        #main .w .r p:nth-of-type(3) span:nth-of-type(2) {
          color: #666;
          font-size: 12px;
          text-decoration: line-through;
          margin-left: 10px; }
      #main .w .r p:nth-of-type(4) {
        font-size: 16px;
        color: #666;
        line-height: 20px;
        background: #fff9fd;
        padding: 5px 0; }
        #main .w .r p:nth-of-type(4) span:nth-of-type(1) {
          color: white;
          background: #fc6c80;
          padding: 3px;
          font-size: 12px;
          margin-left: 5px; }
        #main .w .r p:nth-of-type(4) span:nth-of-type(2) {
          color: #ff3b93;
          margin-left: 5px;
          font-size: 12px; }
      #main .w .r p:nth-of-type(5) {
        font-size: 16px;
        color: #666;
        line-height: 20px;
        padding: 5px 0;
        height: 30px;
        position: relative;
        margin: 15px 0; }
        #main .w .r p:nth-of-type(5) span {
          width: 70px; }
        #main .w .r p:nth-of-type(5) img {
          width: 45px;
          height: 45px;
          border: 1px solid #ccc;
          position: absolute;
          left: 60px;
          top: -20px; }
      #main .w .r div:nth-of-type(1) {
        font-size: 16px;
        color: #666;
        line-height: 20px;
        height: 30px;
        margin-top: 25px;
        position: relative; }
        #main .w .r div:nth-of-type(1) .fig {
          position: absolute;
          left: 60px;
          top: -20px;
          border: 1px solid #ccc; }
      #main .w .r p:nth-of-type(6) {
        font-size: 16px;
        color: #666;
        line-height: 20px;
        height: 30px;
        margin-top: 15px; }
        #main .w .r p:nth-of-type(6) span:nth-of-type(1) {
          display: inline-block;
          width: 79px;
          height: 12px;
          margin-left: 20px;
          background: url("../images/detail_files/star.jpg"); }
        #main .w .r p:nth-of-type(6) span:nth-of-type(2) {
          color: #ff3b93;
          font-size: 12px;
          margin-left: 20px; }
        #main .w .r p:nth-of-type(6) span:nth-of-type(3) {
          color: #666;
          font-size: 14px; }
      #main .w .r div:nth-of-type(2) {
        overflow: hidden; }
        #main .w .r div:nth-of-type(2) .l {
          width: 225px;
          height: 55px;
          background: #f450a2;
          color: white;
          font-size: 18px;
          text-align: center;
          line-height: 55px;
          border-radius: 2px; }
        #main .w .r div:nth-of-type(2) .r {
          width: 100px;
          height: 30px;
          border: 1px solid #ccc;
          text-align: center;
          margin-top: 25px;
          margin-right: 260px;
          border-radius: 2px;
          padding-top: 25px; }
      #main .w .r p:nth-of-type(7) {
        line-height: 30px;
        font-size: 14px;
        margin-top: 5px; }
      #main .w .r p:nth-of-type(8) {
        line-height: 30px;
        font-size: 14px;
        margin-top: 5px; }

/* ================fenge=============== */
#fenge {
  height: 20px;
  background: url("../images/detail_files/bolang.png");
  margin: 30px 0; }

/* =================list====================== */
#list .w {
  overflow: hidden; }
  #list .w li {
    width: 155px;
    height: 220px;
    margin-right: 10px; }
    #list .w li img {
      width: 100%;
      border: 1px solid #eee; }
    #list .w li p:nth-of-type(1) {
      line-height: 20px; }
    #list .w li p:nth-of-type(2) {
      line-height: 20px;
      color: #f34fa1; }

/* ========================mdnav=============== */
#mdnav {
  overflow: hidden; }
  #mdnav .w {
    height: 45px;
    background: #ff3b93; }
    #mdnav .w li a {
      display: inline-block;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      padding: 0 25px;
      color: white; }
    #mdnav .w li.active {
      background: #ec0871;
      border: 0; }
    #mdnav .w li:hover {
      background: #ec0871; }
      #mdnav .w li:hover a {
        text-decoration: none; }

/* ============intro================ */
#intro {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px; }
  #intro .w {
    width: 800px;
    overflow: hidden;
    border: 1px solid #eee;
    padding: 10px; }
    #intro .w .sec1 {
      overflow: hidden; }
      #intro .w .sec1 li {
        width: 400px;
        height: 30px;
        line-height: 30px; }
        #intro .w .sec1 li p {
          font-weight: 100; }
          #intro .w .sec1 li p span {
            font-weight: bold; }
      #intro .w .sec1 li.last a {
        font-weight: bold;
        color: #86bef2; }

/* ====================footer=================== */
/* sec1 */
#footer {
  overflow: hidden;
  border-top: 2px solid #eee; }
  #footer .w {
    overflow: hidden;
    background: white;
    /* sec2 */ }
    #footer .w .sec1 {
      overflow: hidden;
      text-align: center;
      padding-left: 100px;
      border-bottom: 1px solid #eee; }
      #footer .w .sec1 li {
        width: 100px;
        height: 130px;
        position: relative;
        display: inline-block;
        margin: 10px 25px; }
        #footer .w .sec1 li span {
          display: block;
          width: 54px;
          height: 54px;
          position: absolute;
          background: red;
          top: 10px;
          left: 23px; }
        #footer .w .sec1 li span.sp1 {
          background: url("../images/index_files/spring1.jpg") no-repeat -3px -3px; }
        #footer .w .sec1 li span.sp2 {
          background: url("../images/index_files/spring1.jpg") no-repeat -63px -3px; }
        #footer .w .sec1 li span.sp3 {
          background: url("../images/index_files/spring1.jpg") no-repeat -123px -3px; }
        #footer .w .sec1 li span.sp4 {
          background: url("../images/index_files/spring1.jpg") no-repeat -183px -3px; }
        #footer .w .sec1 li span.sp5 {
          background: url("../images/index_files/spring1.jpg") no-repeat -243px -3px; }
        #footer .w .sec1 li span.sp6 {
          background: url("../images/index_files/spring1.jpg") no-repeat -303px -3px; }
        #footer .w .sec1 li p:nth-of-type(1) {
          margin-top: 80px;
          color: #000;
          font-size: 14px; }
    #footer .w .sec2 {
      overflow: hidden;
      padding-left: 100px;
      border-bottom: 1px solid #eee; }
      #footer .w .sec2 ul {
        width: 120px;
        height: 180px;
        text-align: center;
        line-height: 30px;
        margin: 5px; }
        #footer .w .sec2 ul h5 {
          line-height: 35px;
          font-size: 14px; }
      #footer .w .sec2 ul.li7 {
        width: 230px;
        border-left: 1px solid #eee; }
        #footer .w .sec2 ul.li7 .l {
          width: 76px;
          height: 118px;
          margin-left: 50px; }
        #footer .w .sec2 ul.li7 .r {
          width: 76px;
          height: 118px;
          margin-right: 20px; }
    #footer .w .sec3 .li1 {
      text-align: center; }
      #footer .w .sec3 .li1 li {
        display: inline-block;
        margin: 15px 0;
        padding: 0 10px;
        border-right: 1px solid #999; }
      #footer .w .sec3 .li1 li:nth-of-type(8) {
        border: 0; }
    #footer .w .sec3 .li2 {
      text-align: center;
      color: #999; }
      #footer .w .sec3 .li2 li {
        display: inline-block;
        margin: 3px 0;
        padding: 0 5px;
        border-right: 1px solid #999; }
      #footer .w .sec3 .li2 li:nth-of-type(8) {
        border: 0; }
    #footer .w .sec3 .li3 {
      text-align: center;
      color: #999; }
      #footer .w .sec3 .li3 li {
        display: inline-block;
        margin: 3px 0;
        padding: 0 5px;
        border-right: 1px solid #999; }
      #footer .w .sec3 .li3 li:nth-of-type(8) {
        border: 0; }
    #footer .w .sec3 p {
      text-align: center;
      color: #999; }
    #footer .w .sec3 .li4 {
      text-align: center; }
      #footer .w .sec3 .li4 li {
        display: inline-block;
        margin: 3px 0;
        padding: 0 5px; }
        #footer .w .sec3 .li4 li img {
          height: 35px;
          margin: 8px; }

.active {
  border: 1px solid #f450a2; }
